/*insert style here*/
.container {
    max-width: 1500px; /* Adjust as needed */
    margin: 0 auto; /* Center the container */
    padding: 12px; /* Add some padding around the container */
    text-align: center; /* Center the text inside the container */
}

#map {
    height: 600px;
    width: 80%;
	margin-left: auto; /* Align the map to the right */
    margin-right: 0; /* Align the map to the right */
    float: right;
}

h1 {
    margin-top: 0; /* Remove default margin to move the title up */
    font-family: 'Times New Roman', Times, serif;
}

.sidebar-container {
    width: 20%; /* Adjust the width as needed */
    float: left; /* Float the container to the left */
    padding: 20px; /* Add padding */
    box-sizing: border-box; /* Include padding in the width */
}

.filter-container {
    margin-bottom: -30px; /* Add space between filter containers */
    margin-top: 90px; /* Adjust this value to move the filters down */
    width: 90%;

}